/* Base Styles */
:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-family: "Outfit", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--slate-300);
  font-family: var(--font-family);
}

p {
  font-size: 15px;
  margin: 0;
}

/* QR code */
.qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.white-rectangle {
  width: 320px;
  height: 499px;
  border-radius: 20px;
  background-color: var(--white);
  padding: 16px;
}

.white-rectangle img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

/* Text */
article {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 16px;
}

.first-paragraph {
  color: var(--slate-900);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.second-paragraph {
  color: var(--slate-500);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
